
.tituloProdutor{
    font-family: Playfair Display, serif;
    padding-bottom: 3rem;
    padding-top: 7rem;
    text-align: center;
    font-size: 4rem;
}

.imgProdutor{
    width: 100%;
    height: 700px;
    border-radius: 2rem !important;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 3px solid black;
  }

