.titulo {
    text-align: center !important;
    font-weight: 500 !important;
    color: #4a4a4a !important;
    font-family: "Playfair Display", serif !important;
}

.imgSalao {
    width: 10rem;
}

.BtnContato {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(0, 0, 0, 0.6) !important;
    border-radius: 12px;
    width: 100%;
    max-width: 220px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease;
    margin: 0 auto;
}

.BtnContato:hover {
    background-color: rgba(255, 255, 255, 0.25) !important;
    transform: translateY(-2px);
}

.iconLocalizacao {
    color: #ff0000;
    font-size: 1.7rem;
}

.subtexto {
    font-family: 'Open Sans', sans-serif;
}
