body {
    background: #ffffff;
}
.card{
    height: 100%;
    border: none;
}
.imagemFundo {
    max-height: 80vh;
    min-height: 70vh;
    filter: brightness(15%);
    border: 0 !important;
    object-fit: cover;  object-position: center center; /* faz começar do canto superior esquerdo */
}

.btn_agendarAgora {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    width: 100%;
    max-width: 220px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.btn_agendarAgora:hover,
.btn_agendarAgora:focus {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.8);
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}




.btn_agendarLS {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    width: 100%;
    max-width: 220px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.btn_agendarLS:hover,
.btn_agendarLS:focus{
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.8);
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}



.tituloServico {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 500;
    color: #ada8a8 !important;
    font-family: 'Playfair Display', serif;

}

/* Container da paginação */
.swiper-pagination {
    position: relative !important;
    bottom: auto !important;
    background-color: transparent;
    margin-top: 4px;
}

/* Bolinhas normais */
.swiper-pagination-bullet {
    background-color: #555555 !important;
    opacity: 0.7 !important;
    width: 12px;
    height: 12px;
    margin: 0 6px !important;
    transition: background-color 0.3s, transform 0.3s;
}

/* Bolinha ativa */
.swiper-pagination-bullet-active {
    background-color: #000000 !important;
    opacity: 1 !important;
    transform: scale(1.3);
}

.card-title{
    font-family: 'Playfair Display', serif;
}

.card-text{
    font-family: 'Open Sans', sans-serif
}

.imagemBia{
  border-radius: 3%;
    border: 1px solid rgba(0, 0, 0);

}

.sla{
    width: 200px;
    display: flex;

    justify-self: center;
    margin-bottom: 10px;
}

.sobre{
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 500;
    color: #ada8a8 !important;
    font-family: 'Playfair Display', serif;
}