/*  NAVBAR PRINCIPAL */
.navFundo {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px); /* Compatibilidade com Safari */
}

/*  LINKS DE NAVEGAÇÃO */
.navFundo .nav-link {
  color: rgba(212, 202, 202, 0.76);
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
}

.navFundo .nav-link:hover {
  color: #ffffff;
}

.navFundo .nav-link.active {
  color: #ffffff !important;
  font-weight: 600;
}

/*  BOTÃO "AGENDAR" */
.btn_agendar {
  background: transparent !important;
  border: 1px solid white !important;
  transition: 0.2s;
  font-family: "Open Sans", sans-serif;
}

.btn_agendar:hover {
  background: rgba(255, 255, 255, 0.31) !important;
  transform: translateY(-1.5px);
}

/* BOTÃO TOGGLE  */
.btn_toggle {
  border: none !important;
  color: #ffffff !important;
  filter: invert(1) !important;
}

.btn_toggle:focus {
  box-shadow: none;
}

.btn_toggle:not(.collapsed) .navbar-toggler-icon {
  background-image: url("../../assets/IconeeLogo/btnToggleX.png");
  width: 35px;
  filter: invert(1) !important;
}
